@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-win95-gray-dark: #535353;
  --color-win95-white-light: #ffffff;
  --color-button-default-bg: #c0c0c0;
  --color-button-active-bg: #b3b3b3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-fuchsia-600;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.win95-panel {
  background-color: var(--color-button-default-bg);
  border-style: solid;
  border-width: 4px;
  border-top-color: var(--color-win95-white-light);
  border-left-color: var(--color-win95-white-light);
  border-right-color: var(--color-win95-gray-dark);
  border-bottom-color: var(--color-win95-gray-dark);
  border-radius: 0;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.win95-panel-active {
  background-color: var(--color-button-active-bg);
  border-top-color: var(--color-win95-gray-dark);
  border-left-color: var(--color-win95-gray-dark);
  border-bottom-color: var(--color-win95-white-light);
  border-right-color: var(--color-win95-white-light);
}
